/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
}

.card-container {
  display: flex;
  gap: 20px;

}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 15px blue;
  padding: 20px;
  text-align: left;
  width: 300px;
}

.Cardtitle {
  text-align: center;
}

.Pricelist {
  text-align: center;
}

.card h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  margin: 10px 0;
}

.card li.unavailable {
  text-decoration: line-through;
  color: #ccc;
}

.card button {
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 100px;
  cursor: pointer;
  
}

.card button:hover {
  background: #0056b3;
}
